<h1><%= @article.title %></h1>
<p><%= @article.author.name %></p>
<p><%= @article.body %></p>

<ul>
    <% @article.tags.each do |tag| %>
      <li>
        <%= link_to tag.title, tag_path(tag) %>
      </li>
    <% end %>
</ul>
